apiVersion: v1
kind: Secret
metadata:
  name: langfuse-secrets
  namespace: langfuse
type: Opaque
stringData:
  DATABASE_URL: "postgresql://usuario:senha@meu-rds.cluster-xxxx.us-east-1.rds.amazonaws.com:5432/langfuse"
  encryption-key: "0000000000000000000000000000000000000000000000000000000000000000"
  salt: "salt_para_senhas_muito_seguro_local"
  nextauth-secret: "chave_nextauth_aleatoria_super_segura_local"
  redis-password: "senha_redis_segura_123!"
  default: "senha_redis_segura_123!"
  clickhouse-password: "senha_clickhouse_segura_123!"
  LANGFUSE_INIT_ORG_ID: "lab-org"
  LANGFUSE_INIT_ORG_NAME: "Lab"
  LANGFUSE_INIT_PROJECT_ID: "lab-project"
  LANGFUSE_INIT_PROJECT_NAME: "Lab Project"
  LANGFUSE_INIT_PROJECT_PUBLIC_KEY: "pk-lf-d5fe3f3d-42f6-4fde-8fcc-49311455e6cc"
  LANGFUSE_INIT_PROJECT_SECRET_KEY: "sk-lf-8837b783-1dce-4840-bdcd-e718f480b987"
  LANGFUSE_INIT_USER_EMAIL: "admin@lab.local"
  LANGFUSE_INIT_USER_NAME: "Lab Admin"
  LANGFUSE_INIT_USER_PASSWORD: "senha_admin_local_123!"